body {
    display: flex;
    flex-flow: column wrap;
}

.champface {
    max-width: fit-content;
}

.skill_grid {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 5px;
}

.passive, .q, .w, .e {
    display: flex;
    
    
}


ul {
    list-style-type: none;
}


.egg {
    color: white;
}